* {
  box-sizing: border-box;
}

#grid-container {
  display: block;
  max-width: 480px;
  border: 2px solid black;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.grid-column {
    flex: 1;
    border: 1px solid black;
}